# Python Bytecode (File yang dihasilkan oleh interpreter Python)
*.pyc
__pycache__/
*.$py.class

# Lingkungan Virtual (Virtual Environments)
venv/
env/
.venv/
.env/

# Data dan Kredensial (File yang berisi kredensial sensitif atau rahasia)
# File ini TIDAK BOLEH di-commit ke Git.
.env

# Dependencies
# Biasanya hasil installasi package di lingkungan virtual
pip-log.txt
pip-delete-this-file.txt
htmlcov/
.coverage
.tox/
build/
dist/

# Logs dan Database (Opsional, tergantung proyek)
*.log
*.sqlite